body, html {
    margin: 0;
}

#titulo {
    color: aqua;
    font-size: 700%;
    padding-top: 5%;
    margin-top: 0;
}

#subtitulo {
    color: aqua;
    font-family: 'Open Sans';
    font-size: 300%;
    margin-top: 2vh;
}

header {
    background-color: rgb(0, 0, 87);
    border-bottom: 2px solid blue;
    border-image-source: linear-gradient(to right, rgb(9, 0, 48), rgb(7, 226, 255)) ;
    border-image-slice: 1;
    margin-top: 0;
}

main {
    padding-top: 1%;
    background-color: rgb(1, 12, 117);
    color: aliceblue;
 
}

h2 {
    text-align: center;
    padding-bottom: 4%;
    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1%;
}